<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.f0rgiv.taskmaster">

  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Taskmaster">
    <activity android:name=".activities.AllTasks"></activity>
    <activity android:name=".activities.AddTask" /> <!-- <uses-library -->
    <!-- android:name="com.google.android.wearable" -->
    <!-- android:required="true" /> -->
    <!-- &lt;!&ndash; -->
    <!-- Set to true if your app is Standalone, that is, it does not require the handheld -->
    <!-- app to run. -->
    <!-- &ndash;&gt; -->
    <!-- <meta-data -->
    <!-- android:value="true" /> -->
    <!-- <activity -->
    <!-- android:name=".addTask" -->
    <!-- android:label="@string/title_activity_add_task"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="android.intent.action.MAIN" /> -->
    <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
    <!-- </intent-filter> -->
    <!-- </activity> -->
    <activity android:name=".activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
