<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.f0rgiv.taskmaster">

  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Taskmaster">
    <service
      android:name=".service.DataBaseManagerService"
      android:enabled="true"
      android:exported="true"></service>

    <activity android:name=".activities.TaskDetailActivity" />
    <activity
      android:name=".activities.SettingsActivity"
      android:label="@string/title_activity_settings" />
    <activity android:name=".activities.Settings" />
    <activity android:name=".activities.AllTasks" />
    <activity
      android:name=".activities.AddTask"
      android:launchMode="singleInstance" />
    <activity android:name=".activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
